# <center>Julia for Beginners in Data Science
#### <center>Instructor: Vinita Silaparasetty

#### Added Packages

In [ ]:
using Pkg
Pkg.add("DataFrames") 
Pkg.add("CSV") 
Pkg.add("HTTP")
Pkg.add("Statistics")
Pkg.add("MLDataUtils")
Pkg.add("Impute")
Pkg.add("Plots")
Pkg.add("XLSX")

#### Creating Dictionaries

## <center>üèÜ Challenge
    
1) Create a dictionary, D2, with the following key and value pairs:

"animal" => "cat"
    
"fruit"  => "apple"
    
"age"    => "20"
    
    
2) Then print the value of the key "animal".

In [ ]:
#Create dictionary

In [ ]:
#View key value

### Loops

#### While Loop

#### For Loop

## <center>üèÜ Challenge
    
Create a list l1 with the following integers:

10

20

30

Use a for loop to iterate over the integers and display them.

#### Conditional Statments

### Loading and Exporting Data

#### Loading from a Local System

#### CSV files

#### XLSX files

#### Loading from a URL

#Use this URL

https://raw.githubusercontent.com/VinitaSilaparasetty/julia-beginners/master/data/s_p500companies/constituents-financials_csv.csv

## <center>üèÜ Challenge
    
Create the dataframe df1 and load in data from this url: https://raw.githubusercontent.com/VinitaSilaparasetty/julia-beginners/master/data/s_p500companies/constituents_csv.csv

#### Export Data

#### CSV

#Use this file path:

//home//rhyme//Project//Desktop//output.csv

### Exploratory Data Analysis

#### Summary Statistics

### Feature Selection

#### View Total Number of Rows and Columns

### Visualizations

Line Graph

## <center>üèÜ Challenge
    
Generate a line graph for the "elo1_pre" in "data". 
    
Hint: The index of the column "elo1_pre" is 7.

#### Scatter Plot

## <center>üèÜ Challenge
    
Generate a scatter plot for the "elo_prob1" in "data".
    
Hint: The index for the column "elo_prob1" is 9.

### Data Cleaning

##### Remove Duplicates

### Handling Missing Values

Fill Missing Values with Mean

#### Imputing Missing Values

## <center>üèÜ Challenge
    
Impute missing values in df1.

### Sorting Data

## <center>üèÜ Challenge
    
Sort df in descending order.

### Splitting Data

### Joinning Data

<img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/inner-join.png?raw=true" width="600" height="600">

<img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/full-outer-inclusive-join.png?raw=true" width="600" height="600">

## <center>üèÜ Challenge
    
Do a full outer inclusive join on df1 and df, specifically in this order and call the new dataframe df5.

Hint: Use on=:Name

<img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/left-inclusive-join.png?raw=true" width="600" height="600">

<img src="https://github.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/blob/master/media/right-inclusive-join.png?raw=true" width="600" height="600">

## <center>üèÜ Challenge
    
Do a right inclusive join on df1 and df, specifically in this order and call the new dataframe df8.
    
Hint: Use on=:Name